
.auto-complete-container {
    position: relative;
    width: 100%;
}

.form-input:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

#destination-name{
    min-width: 100%;
}

#warning{
    display:none;
    margin-top:-10px;
    color: var(--primary);
}

.autocomplete-list {
    position: absolute;
    top: 100%; /* Places it right below the input */
    left: 0;
    width: 100%;
    background: var(--background);
    border:none;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000; /* Ensures it appears above other elements */
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.autocomplete-item {
    color: var(--text);
    padding: 10px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: var(--text);
    color: var(--background);
}